.navContainer {
    display: flex;
    position: fixed;
    margin: 20px 45px;
    z-index: 10;
  
    img {
      object-fit: cover;
    }
  
    .navBox {
      display: flex;
      position: fixed;
      justify-content: center;
      width: 100%;
      top: 0;
      margin-bottom: 10px;
    }
  
    .navLogo {
      float: left;
      font-size: 80px;
      font-family: 'Arial, Helvetica, sans-serif';
      width: 800px;
      height: 300px;
    }
  
    .topUl {
      position: fixed;
      display: flex;
      right: 45px;
      margin-top: 30px;
    }

    .topMainUl {
      position: fixed;
      display: flex;
      left: 5px;
      margin-top: 30px;
    }
  
    .topLi1 {
      border-left: 1px solid #c0c0c0;
      padding: 10px 10px 10px 10px;
      margin: 5px 0px 5px 0px;
      font-size: 50px;
      border-bottom: 1cm;
    }

    .topLi {
      border-left: 1px solid #c0c0c0;
      padding: 10px 10px 10px 10px;
      margin: 5px 0px 5px 0px;
      font-size: 20px;
      border-bottom: 1cm;
    }
  
    .topLink {
      color: rgb(221, 221, 221);
    }
  
    //menu
    .menuBox {
      position: fixed;
      z-index: 10;
      width: 200px;
      height: 300px;
  
      a {
        color: black;
        line-height: 1.5;
        font-size: 18px;
        letter-spacing: normal;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      ul {
        margin-left: 13px;
      }
    }
  
    .searchBox {
      border-bottom: 1px solid black;
  
      .search {
        width: 100%;
        margin-top: 5px;
        background-color: transparent;
        border: none;
        background-color: transparent;
  
        &::placeholder {
          color: black;
          font-size: 18px;
        }
      }
    }
  }
  